<template name="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ichor-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Ichor</span>
    </div>
  
    <div class="collapse navbar-collapse ichor-navbar">
      <ul class="nav navbar-nav">
        <li id="landingNav" class="{{activeClass 'portal'}}"><a href="{{pathFor 'portal'}}">Portal</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>